.fieldi {
    margin: 10px auto 0 auto;
    border-collapse: collapse;
}
.content, .allLevels {
    max-width: 1200px;
    margin: 0 auto;
}

.celli {
    background-size: 70%;
    text-align: center;
    margin: 1px;
    border: 1px solid #f78413;
    background-color: #ffdec6;
    font-size: 1.5rem;
}

.cellil {
    width: 100px;
    height: 100px;
}

.hide-true{
    display:none;
}

td.crosss, div.crosss {
    background: url("https://app-98511.games.s3.yandex.net/98511/zao1bol1ycwnujsdqdma9hcpx4myxcka/images/k.svg") center center no-repeat transparent;
    background-color: #ffdec6;
}

td.zeroess, div.zeroess{
    background: url("https://app-98511.games.s3.yandex.net/98511/zao1bol1ycwnujsdqdma9hcpx4myxcka/images/n.svg") center center no-repeat transparent;
    background-color: #ffdec6;
}